    <div style="color:grey;">
    {% if date(microPost.created) < date('-1year') %} 
            Older than 1 year
        {% else %}
            {{microPost.created|date('d/m/Y')}}
        {% endif %}
          </div>